%header.navbar.navbar-fixed-top
  .navbar-inner
    %div.container
      = link_to "asuntomash", root_path, id: "logo"    
      %nav
        %ul.nav.pull-right
          %li.divider-vertical
          
